<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.EmployeeDao">
    <!--<resultMap id="BaseResultMap" type="org.spring.springboot.domain.City">
        <result column="id" property="id" />
        <result column="province_id" property="provinceId" />
        <result column="city_name" property="cityName" />
        <result column="description" property="description" />
    </resultMap>

    <sql id="Base_Column_List">
		id, province_id, city_name, description
	</sql>

    <select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from city
        where city_name = #{cityName}
    </select>-->

    <resultMap id="employee" type="com.example.demo.bean.Employee">
        <result column="id" property="id"/>
        <result column="first_name" property="first_name"/>
        <result column="last_name" property="last_name"/>
        <result column="salary" property="salary"/>
    </resultMap>

    <select id="getEmployee" resultMap="employee">
        select * from employee where first_name = #{first_name};
    </select>

    <select id="getList" resultType="com.example.demo.bean.Employee">
        select * from employee;
    </select>
</mapper>